<h1>Create a new list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :submit, 'Create List', class: 'btn btn-success' %>
<% end %>

<%= link_to 'Back to all lists', lists_path, class: 'btn btn-warning' %>
